<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>${lib.artifactId}-library</name>
    <displayname>${lib.displayName}</displayname>
    <version>${lib.version}</version>
    <description>${lib.description} - created by https://github
        .com/zaplatynski/fsmlibrarycreater</description>
    <vendor>${lib.vendor}</vendor>
    <components>
        <web-app scopes="global,project">
            <name>${lib.artifactId}-web-library</name>
            <displayname>${lib.displayName} Library</displayname>
            <web-xml>web.xml</web-xml>
            <web-resources>
                <resource name="${lib.artifactId}" version="${lib.version}">lib/${lib.artifactId}-${lib.version}.jar</resource>
            </web-resources>
        </web-app>
    </components>
    <resources>
        <resource scope="server" name="${lib.artifactId}" version="${lib.version}">lib/${lib.artifactId}-${lib.version}.jar</resource>
    </resources>
</module>
