<module>

    #parse("includes/header.vm")

    <components>

        #parse("includes/web.vm")

        #parse("includes/library.vm")

    </components>

    #parse("includes/resources.vm")

</module>
